:root {
  --primary: #82bebb;
  --secondary: #c1dfdb;
  --background: rgb(255, 255, 255, 1);
  --text: #000000;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
  z-index: 1;
}

p {
  color: var(--text);
}

#content-main {
  background-color: var(--background);
  enable-background: new;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.banner {
  width: 100%;
  background-color: var(--secondary);
  overflow: hidden;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.stay {
  position: sticky !important;
  top: 0px;
}

.back {
  z-index: -1;
}

.framed {
  border-style: solid;
  border-color: #000000;
  border-width: 2px;

  width: 50%;
}

.sec {
  margin: auto;
  transform: translateX(25%);
}

@media only screen and (max-width: 1000px) {
  .banner {
    width: 200%;
    transform: translateX(-25%);
  }
}

@media only screen and (min-width: 1000px) {
}

@keyframes fade-in-anim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.fade-in {
  animation-name: fade-in-anim;
}

.anim-500ms {
  animation-duration: 500ms;
}

.anim-1000ms {
  animation-duration: 1000ms;
}

.anim-1500ms {
  animation-duration: 1500ms;
}

.anim-2000ms {
  animation-duration: 2000ms;
}

.anim-2500ms {
  animation-duration: 2500ms;
}

.anim-3000ms {
  animation-duration: 3000ms;
}

.anim-3500ms {
  animation-duration: 3500ms;
}

.anim-instant {
  animation-duration: 0ms;
}
