<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  crossorigin="anonymous"
/>

<title>Music4All</title>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand fade-in anim-500ms" href="/"
    ><img
      class="d-block"
      height="36"
      src="/Music4All/utility/images/logo_iconish.png"
      alt="Music4All"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#content"
    aria-controls="content"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item fade-in anim-1000ms">
        <a class="nav-link" id="homeLink" href="/Music4All/">Home</a>
      </li>
      <li class="nav-item fade-in anim-1500ms">
        <a class="nav-link" id="videosLink" href="/Music4All/videos">Videos</a>
      </li>
      <li class="nav-item fade-in anim-2000ms">
        <a class="nav-link" id="lessonsLink" href="/Music4All/lessons"
          >Lessons</a
        >
      </li>
      <li class="nav-item fade-in anim-2500ms">
        <a class="nav-link" id="eventsLink" href="/Music4All/events">Events</a>
      </li>
      <li class="nav-item fade-in anim-3000ms">
        <a class="nav-link" id="teamLink" href="/Music4All/team"
          >Meet the Team</a
        >
      </li>
      <li class="nav-item fade-in anim-3500ms">
        <a class="nav-link" id="joinLink" href="/Music4All/join"
          >Work with us!</a
        >
      </li>
    </ul>
  </div>

  <script>
    header_setActiveTab();
  </script>
</nav>
